/* Projects.module.css */
.projects {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  padding: 40px;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -10px; /* Agrega un margen negativo para reducir el espacio entre las tarjetas */
  gap: 5vw;
}
h2{
    font-size: 1.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
    margin-bottom: 10px;
    color: rgb(78, 155, 129);
    margin-left: 2.2vw;
    text-transform: uppercase;
}
.projectCard {
  width: 280px; /* Reducir el ancho para tener tarjetas más juntas */
  margin: 10px; /* Ajustar el margen para las tarjetas más cercanas */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease-in-out;
}

.projectCard:hover {
  transform: scale(1.05);
}

.projectImage {
  width: 100%;
  height: 180px; /* Reducir la altura de la imagen */
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.projectInfo h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.projectInfo p {
  font-size: 1em;
  color: #555;
  line-height: 1.6;
}
