/* Projects.module.css */
.projects {
  max-width: 80vw; /* Ajustar el ancho máximo para pantallas más pequeñas */
  margin: 0 auto;
  text-align: center;
  padding: 20px; /* Reducir el relleno para evitar saturar en pantallas más pequeñas */
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -5px; /* Ajustar el margen negativo para reducir el espacio entre las tarjetas */
  gap: 5vw;
}

h2 {
    font-size: 1.5em; /* Aumentar el tamaño del título */
    letter-spacing: 5px;
    margin-bottom: 10px;
    color: rgb(78, 155, 129);
    margin-left: 2.2vw;
    text-transform: uppercase;
}

.projectCard {
  width: 24%; /* Hacer las tarjetas del 100% del ancho en pantallas más pequeñas */
  margin: 5px; /* Reducir el margen para tarjetas más cercanas */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease-in-out;
}

.projectCard:hover {
  transform: scale(1.05);
}

.projectImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.projectInfo h3 {
  font-size: 1.8em; /* Aumentar el tamaño del subtítulo */
  margin-bottom: 10px;
}

.projectInfo p {
  font-size: 1.2em; /* Aumentar el tamaño del texto */
  color: #555;
  line-height: 1.6;
}

.languageButton {
  background-color: rgb(78, 155, 129); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.languageButton:hover {
  background-color: rgb(31, 73, 33) 155, 129;
}


/* Media Query para pantallas más pequeñas */
@media only screen and (max-width: 600px) {
  .projectCard {
    width: 100%; /* Hacer las tarjetas del 100% del ancho en pantallas más pequeñas */
  }

  .h2 {
    margin-left: 0; /* Ajustar el margen izquierdo del título */
  }
}
