/* AboutMe.module.css */
.aboutMe {
  padding: 40px;
  text-align: center;
}

.aboutContent {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.aboutContent h1 {
  font-size: 2.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 5px;
  margin-bottom: 10px;
  color: rgb(78, 155, 129);
}

.aboutContent p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #555;
}
.languageButton {
  background-color: rgb(78, 155, 129); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.languageButton:hover {
  background-color: rgb(31, 73, 33) 155, 129;
}


/* Media Query para pantallas más pequeñas */
@media only screen and (max-width: 600px) {
  .aboutMe {
    padding: 0px;
    text-align: center;
  }
  .aboutContent {
      padding: 0 20px;
  }

  .aboutContent h1 {
      font-size: 2em;
      margin-bottom: 8px;
  }

  .aboutContent p {
      font-size: 1em;
  }
}
