/* Contact.module.css */
.contact {
  padding: 20px; /* Reducir el relleno para pantallas más pequeñas */
}

.contact h2 {
  text-align: center;
  font-size: 2em; /* Aumentar el tamaño del título */
  margin-bottom: 20px; /* Aumentar el margen inferior del título */
}

.contact p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #555;
  text-align: center; /* Centrar el texto en pantallas más pequeñas */
}

.contact p a {
  font-size: 1em;
  line-height: 1.6;
  color: #555;
  display: block; /* Convertir los enlaces en bloques para mejorar la legibilidad */
  margin-top: 10px; /* Añadir espacio superior entre los enlaces */
}

.icon {
  width: 30px; /* Reducir el tamaño de los íconos para pantallas más pequeñas */
  height: 30px;
  margin: 10px; /* Ajustar el espacio entre los íconos */
}

.icon:hover {
  opacity: 0.8;
}

.languageButton {
  background-color: rgb(78, 155, 129); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.languageButton:hover {
  background-color: rgb(31, 73, 33) 155, 129;
}